.select2-container{
	min-width:300px;
}
.section_form_table label{
    clear:both;
    width:240px;
    float:left;
    display:block;
}
#course_custom_sections li h4 {
    width:400px;
    height: 30px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    line-height:2;
}
#course_custom_sections li h4 span {
    float:right;
    padding-right:5px;
}
#course_custom_sections li a {
    float:left;
    color:#ff0000;
    padding:3px;
}
.section_form_table input[type="text"],textarea{
    width:300px;
}
.custom_section_form{display:none;}
.section_fields{
    width:700px;
    font-weight: bold;
    line-height: 1.8;
    font-size: 14px;
}
h2.section_fields{width:713px;font-size:20px;}
h2.section_fields span input{margin-left:35px;}
.section_fields span{float:right;}
.section_fields span input{margin-left: 50px;}